{% extends "layout.jinja2" %}

{% block title %}Login{% endblock %}

{% block main %}
    <h1>Login</h1>
    <form action="{{ request.route_path('login') }}" method="POST">
        <label>Username: <input type="text" placeholder="Username" name="username" autofocus required></label>
        <label>Password: <input type="password" placeholder="Password" name="password" required></label>
        <input type="submit" value="Log in">
    </form>
{% endblock %}
