{% extends "layout.jinja2" %}

{% block title %}Login{% endblock %}

{% block main %}
    <h1>Login</h1>
    <form action="{{ request.route_path('login') }}" method="POST">
        {{ form.username.label }} {{ form.username() }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ form.password.label }} {{ form.password() }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ form.login }}
    </form>
{% endblock %}
