# Python related
__pycache__
*.pyc
*.egg-info
dist
build

# Editor and IDE related
.idea
.ropeproject/

# Local sqlite database
pyramidcms.db

# Local development .ini file
pyramidcms.ini

# Sphinx build directory
doc/build

# Testing
.tox
.coverage
