###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:pyramidcms

pyramid.reload_templates = {{ debug|lower }}
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_jinja2
    pyramid_tm
    {% if debug %}pyramid_debugtoolbar{% endif %}

sqlalchemy.url = {{ db_url }}

# Jinja2 settings and templates directory
jinja2.directories = pyramidcms:templates
jinja2.extensions =
    jinja2.ext.with_

# Keep this key safe, the key here is generated for you and is unique
session.secret = {{ secret_key }}

{% if debug %}# Change these to turn on debugtoolbar
debugtoolbar.hosts = 127.0.0.1 ::1
debugtoolbar.enabled = false{% endif %}

###
# wsgi server configuration
###

[server:main]
use = egg:gunicorn#main
host = {{ server_ip }}
port = {{ server_port }}
workers = {{ num_workers }}

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, pyramidcms, sqlalchemy, alembic

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_pyramidcms]
level = INFO
handlers =
qualname = pyramidcms

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[logger_alembic]
level = INFO
handlers =
qualname = alembic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
